.App {
  margin: 50px;
}

.title {
  text-align: center;
  background-color: green;
  padding: 15px;
}

.userTitle {
  background-color: #90c2d3;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
}

.user {
  background-color: lightblue;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
}

.picNbtn {
  padding: 15px;
  text-align: center;
}

.profilePic {
  border-radius: 50%;
  margin-bottom: 20px;
}

.button {
  background: #28a1c9;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: none;
  color: white;
}

.detailTypes {
  display: flex;
  justify-content: flex-end; 
  text-align: right;       
  padding-right: 20px;
  line-height: 35px;
  padding-bottom: 15px;
}

.details {
  display: flex;
  justify-content: flex-start; 
  text-align: left;   
  line-height: 35px;
}
